Repository FarihaIS/VanRoomies, pull requests merged in 2023-11, with the labels that each got.

#45 feat(be-chat): add chat functionality to the backend with socket.io
  backend/.env.development
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/chat/Message.js
  backend/src/chat/messageStore.js
  backend/src/middlewares.js
  backend/src/routes/chat.js
  backend/src/sock.js
  backend/src/utils/utils.js
  myclient/.gitignore
  myclient/client.js
  myclient/package-lock.json
  myclient/package.json
Labels: backend, feat

#67 feat(chat integration): Integrate Frontend Chat Fragment with Backend
  .gitignore
  frontend/.gitignore
  frontend/app/build.gradle.kts
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatConversation.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatMessage.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/CustomTrustManager.java
  frontend/app/src/main/java/com/chads/vanroomies/GetHelloWorldTest.java
  frontend/app/src/main/java/com/chads/vanroomies/HomeActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerData.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchDeckAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/UserProfile.java
  frontend/app/src/main/res/drawable/ic_block.xml
  frontend/app/src/main/res/layout/activity_chat_channel.xml
  frontend/app/src/main/res/layout/fragment_chat.xml
  frontend/app/src/main/res/layout/fragment_listings.xml
  frontend/app/src/main/res/layout/fragment_matches.xml
  frontend/app/src/main/res/layout/item_chat_me.xml
  frontend/app/src/main/res/layout/item_chat_other.xml
  frontend/app/src/main/res/layout/matches_layout.xml
  frontend/app/src/main/res/layout/row_chat.xml
  frontend/app/src/main/res/menu/bottom_nav_menu.xml
  frontend/app/src/main/res/raw/cert.pem
  frontend/app/src/main/res/values/colors.xml
  frontend/app/src/main/res/values/strings.xml
  frontend/gradle.properties
  frontend/settings.gradle.kts
Labels: enhancement, backend, frontend, feat

#73 Removing cert.pem from res folder
  frontend/app/src/main/res/raw/cert.pem
Labels: bug

#71 enhancement(preferences): Add User Exclusion Route for Recommendations
  backend/src/models/listingModel.js
  backend/src/models/userModel.js
  backend/src/routes/preferences.js
Labels: enhancement, backend

#76 Adding Codacy files for M5A
  .eslintrc.json
  checkstyle.xml
  ruleset.xml
Labels: enhancement

#81 fix(preferences): Schema fix for FE
  backend/src/models/listingModel.js
  backend/src/models/preferencesModel.js
Labels: backend

#70 feat(create listing): Add a Listing Creation Button to Owned Listings
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
  frontend/app/src/main/res/layout/fragment_listings.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend, feat

#82 feat(create/modify preferences): Add a User Preferences to the Profile and Adding/Modifying Functions
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/UserPreferencesResponseResult.java
  frontend/app/src/main/res/layout/fragment_profile.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend, feat

#83 feat(matches): Integrate matches feature
  frontend/app/build.gradle.kts
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchDeckAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/UserProfile.java
  frontend/app/src/main/res/drawable/ic_delete.xml
  frontend/app/src/main/res/layout/activity_chat_channel.xml
  frontend/app/src/main/res/layout/matches_layout.xml
  frontend/app/src/main/res/layout/row_chat.xml
  frontend/app/src/main/res/values/strings.xml
Labels: enhancement, backend, frontend, feat

#36 enhancement(auth): Token Authentication and OAuth Google Verification
  backend/.env.development
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/authentication/googleAuthentication.js
  backend/src/authentication/jwtAuthentication.js
  backend/src/models/userModel.js
  backend/src/routes/listings.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
  backend/src/tests/simple_db_test/model.js
  backend/src/tests/simple_db_test/test_script.js
Labels: enhancement, backend

#84 feat(login token + userId) Integrate Login Token Authentication, Track UserId, and Fix Image Size
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerViewAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
Labels: frontend, feat

#88 enhancement(chatSocket) Debugging ChatSocket Functionality
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchDeckAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/UserProfile.java
Labels: bug, enhancement, backend, frontend

#87 enhancement(login bugfix) New Account Null Name Bugfix
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
Labels: bug, frontend

#90 feat(fe-messaging): implement firebase Cloud Messaging for real-time messaging notifications
  .gitignore
  frontend/app/build.gradle.kts
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchDeckAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/PushNotificationService.java
  frontend/app/src/main/res/layout/row_chat.xml
  frontend/build.gradle.kts
Labels: frontend, feat

#89 feat(be-messaging): setup firebase real-time messaging on backend
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/chat/firebase.js
  backend/src/chat/messageStore.js
  backend/src/models/userModel.js
Labels: backend, feat

#94 enhancement(codacy): FE fixes to some Codacy issues (Matches/Chat)
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerViewAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchDeckAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/SingleListingResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
Labels: enhancement, frontend, code review

#95 enhancement(codacy): FE fixes to some Codacy issues (Profile/Listings)
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerViewAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/UserPreferencesResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
Labels: enhancement, frontend

#99 fix(codacy): merge frontend codacy issues
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerViewAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchDeckAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/SingleListingResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/UserPreferencesResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
Labels: enhancement, frontend

#98 fix(codacy): merge backend codacy fixes
  backend/package.json
  backend/src/app.js
  backend/src/authentication/jwtAuthentication.js
  backend/src/chat/firebase.js
  backend/src/chat/messageStore.js
  backend/src/models/userModel.js
  backend/src/routes/chat.js
  backend/src/routes/listings.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
  backend/src/sock.js
  backend/src/utils/listingRecommendations.js
  backend/src/utils/userRecommendations.js
  myclient/client.js
Labels: code review

#101 Tested removal of deprecated startActivityForResult function
  backend/src/app.js
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
Labels: bug, enhancement, frontend

#118 feat(user): Unmatch user and small fix to block user for conversation deletion
  backend/src/chat/messageStore.js
  backend/src/models/listingModel.js
  backend/src/models/userModel.js
  backend/src/routes/listings.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
Labels: bug, backend, feat

#109 chore(tests): write jest tests for some exposed routes
  backend/.eslintrc.js
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/chat/firebase.js
  backend/src/chat/messageStore.js
  backend/src/models/conversationModel.js
  backend/src/routes/chat.js
  backend/src/routes/generic.js
  backend/src/routes/users.js
  backend/src/server.js
  backend/src/sock.js
  backend/test/routes/chat.test.js
  backend/test/routes/generic.test.js
  backend/test/routes/users.test.js
  backend/test/sock.test.js
Labels: chore

#108 feat(chat): Add Block User Functionality for FE
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/res/drawable/ic_block.xml
  frontend/app/src/main/res/layout/row_chat.xml
Labels: enhancement, frontend, feat

#112 feat(scam reporting): Add Scam Listing Reporting Button
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
  frontend/app/src/main/res/layout/activity_view_listing.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend, feat

#119 chore(be-tests): Denis Portion of Backend Jest Testing
  backend/src/authentication/googleAuthentication.js
  backend/src/authentication/jwtAuthentication.js
  backend/src/routes/listings.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
  backend/src/utils/listingRecommendations.js
  backend/src/utils/userRecommendations.js
  backend/test/routes/listings.test.js
  backend/test/routes/preferences.test.js
  backend/test/routes/users.test.js
Labels: backend, chore

#122 fix(be-test): fix failing test
  backend/test/routes/users.test.js
Labels: bug, chore

#124 ci(workflow): Jest testing Github Action
  .github/workflows/jest-testing.yml
Labels: backend, chore, code review

#127 fix(listings): Sort Listings by Creation Date
  backend/src/routes/listings.js
  backend/test/routes/listings.test.js
Labels: bug, backend

#129 chore(fe-tests): Manage Listing Test + Login Helper
  frontend/app/build.gradle.kts
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
  frontend/app/src/main/res/layout/activity_view_listing.xml
Labels: frontend, chore

#132 fix(preferences): BE changes for default case when there are no preferences set
  backend/src/routes/preferences.js
  backend/test/routes/preferences.test.js
Labels: bug, backend

#136 chore(fe-tests): Match/Unmatch
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
  frontend/app/src/main/res/layout/fragment_matches.xml
  frontend/app/src/main/res/layout/matches_layout.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend, chore

#135 chore(fe-tests): Chat
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
Labels: frontend, chore

#134 chore(fe-tests): Non Functional Requirements Tests
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
  frontend/app/src/androidTest/java/com/chads/vanroomies/NonFunctionalReqTests.java
Labels: frontend, chore

#137 [Task] FE - M6 Tests: Main Use Cases + Non-Functional Requirements
  frontend/app/build.gradle.kts
  frontend/app/src/androidTest/java/com/chads/vanroomies/ExampleInstrumentedTest.java
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
  frontend/app/src/androidTest/java/com/chads/vanroomies/NonFunctionalReqTests.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
  frontend/app/src/main/res/layout/activity_view_listing.xml
  frontend/app/src/main/res/layout/fragment_matches.xml
  frontend/app/src/main/res/layout/matches_layout.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend, chore

#139 feat(enhancement): Save State in Matches
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/UserProfile.java
Labels: enhancement, frontend, feat

#141 bug(be): Fix ID duplication in exclusion/reported lists
  backend/src/routes/listings.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
Labels: bug, backend

#144 fix(chat): fix chat order
  backend/src/chat/firebase.js
  backend/src/routes/chat.js
  backend/test/routes/chat.test.js
  backend/test/routes/listings.test.js
  backend/test/sock.test.js
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
Labels: frontend

#150 bugfix(matches) FE - Matches save state bugfix
  frontend/app/src/androidTest/java/com/chads/vanroomies/NonFunctionalReqTests.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/UserProfile.java
Labels: bug, frontend

#151 fix(tests): backend jest additions and fixes
  backend/src/routes/chat.js
  backend/src/routes/users.js
  backend/test/routes/chat.test.js
  backend/test/routes/users.test.js
Labels: chore

#156 bugfix(tests): Fix failing chatTest in main use cases tests
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
Labels: bug, frontend

#148 feat(maps): Add Location Editing, Map View, and Automatic Posted Date
  frontend/app/build.gradle.kts
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
  frontend/app/src/androidTest/java/com/chads/vanroomies/NonFunctionalReqTests.java
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/chads/vanroomies/GetHelloWorldTest.java
  frontend/app/src/main/java/com/chads/vanroomies/HTTPSClientFactory.java
  frontend/app/src/main/java/com/chads/vanroomies/HomeActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsItemSelectListener.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerData.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerViewAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MainActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/MapsActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/SingleListingResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/UserPreferencesResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
  frontend/app/src/main/res/drawable/ic_delete.xml
  frontend/app/src/main/res/layout/activity_maps.xml
  frontend/app/src/main/res/layout/activity_view_listing.xml
  frontend/app/src/main/res/values/strings.xml
Labels: frontend, feat

#157 chore(linter): run github-actions lint check on every pull request that changes backend code
  .github/workflows/backend-code-style.yaml
  backend/package.json
Labels: chore

#155 chore(chatpgt): put in chatgpt usage comment markers
  backend/src/authentication/googleAuthentication.js
  backend/src/authentication/jwtAuthentication.js
  backend/src/chat/firebase.js
  backend/src/chat/messageStore.js
  backend/src/middlewares.js
  backend/src/routes/chat.js
  backend/src/routes/generic.js
  backend/src/routes/listings.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
  backend/src/sock.js
  backend/src/utils/listingRecommendations.js
  backend/src/utils/userRecommendations.js
  backend/src/utils/utils.js
  backend/test/routes/chat.test.js
  backend/test/routes/generic.test.js
  backend/test/routes/listings.test.js
  backend/test/routes/preferences.test.js
  backend/test/routes/users.test.js
  backend/test/sock.test.js
  frontend/app/src/androidTest/java/com/chads/vanroomies/MainUsecaseTests.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelActivity.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatChannelAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatConversation.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatListAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/ChatMessage.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/CustomTrustManager.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchDeckAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/MatchesFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/SingleListingResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/UserPreferencesResponseResult.java
  frontend/app/src/main/java/com/chads/vanroomies/UserProfile.java
  frontend/app/src/main/java/com/chads/vanroomies/ViewListingActivity.java
Labels: chore
