Repository FarihaIS/VanRoomies, pull requests merged in 2023-10, with the labels that each got.

#6 feat(setup): setup basic express server and backend directory
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/server.js
Labels: feat

#15 feat(routes): implement simple user and listings routes + eslint/prettier config
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierignore
  backend/.prettierrc
  backend/models/listing.js
  backend/models/user.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/simple_db_test/model.js
  backend/simple_db_test/test_model.js
  backend/src/app.js
  backend/src/models/listingModel.js
  backend/src/models/userModel.js
  backend/src/routes/listings.js
  backend/src/routes/users.js
  backend/src/tests/simple_db_test/model.js
  backend/src/tests/simple_db_test/test_model.js
Labels: backend, feat

#19 feat(backend): initialize backend
  backend/.env
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierignore
  backend/.prettierrc
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/models/listingModel.js
  backend/src/models/userModel.js
  backend/src/routes/listings.js
  backend/src/routes/users.js
  backend/src/tests/simple_db_test/model.js
  backend/src/tests/simple_db_test/test_model.js
Labels: backend

#25 feat(Preferences) - Preferences Module Schema and REST Interfaces
  backend/src/app.js
  backend/src/models/preferencesModel.js
  backend/src/models/userModel.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
Labels: backend, chore, feat

#24 feat(users): user schema changes and REST endpoints
  backend/package-lock.json
  backend/src/app.js
  backend/src/models/listingModel.js
  backend/src/models/preferencesModel.js
  backend/src/models/userModel.js
  backend/src/routes/listings.js
  backend/src/routes/preferences.js
  backend/src/routes/users.js
Labels: backend, chore, feat

#30 chore(ci): simple backend gh ci
  .github/pull_request_template.md
  .github/workflows/backend-ci.yaml
Labels: chore

#35 chore(https): enable https server
  README.md
  backend/.env
  backend/.env.development
  backend/.gitignore
  backend/certs/README.md
  backend/package.json
  backend/src/app.js
  scripts/generate-cert.sh
Labels: backend, chore

#42 chore(dev): add cross-env to backend for cross-compatibility
  backend/package-lock.json
  backend/package.json
Labels: backend, chore

#46 chore(HTTPS Client): HTTPS Client for FE/BE Communication
  frontend/app/build.gradle.kts
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/CustomTrustManager.java
  frontend/app/src/main/java/com/chads/vanroomies/GetHelloWorldTest.java
  frontend/app/src/main/java/com/chads/vanroomies/HTTPSClientFactory.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/res/xml/network_security_config.xml
Labels: frontend, chore

#48 feat(listings integration): Integrate Frontend Listings Fragment with Backend
  frontend/app/src/main/java/com/chads/vanroomies/ChatFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/Constants.java
  frontend/app/src/main/java/com/chads/vanroomies/GetHelloWorldTest.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsFragment.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerData.java
  frontend/app/src/main/java/com/chads/vanroomies/ListingsRecyclerViewAdapter.java
  frontend/app/src/main/java/com/chads/vanroomies/ProfileFragment.java
  frontend/app/src/main/res/layout/fragment_listings.xml
Labels: frontend, feat

#58 feat(recommendations): Backend recommendations
  backend/src/app.js
  backend/src/routes/preferences.js
  backend/src/utils/constants.js
  backend/src/utils/listingRecommendations.js
  backend/src/utils/userRecommendations.js
  backend/src/utils/utils.js
Labels: backend, feat
